<!DOCTYPE html>
<html>
  <head>
    <title>TableOpen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <meta property="og:title" content="TableOpen"/>
    <meta property="og:image" content="<%= image_url('project_pic.png') %>"/>
    <meta property="og:description" content="An Open Table Clone that allows users to manage restaurant reservations built using a Rails Backend and a React/Redux frontend"/>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('tableOpen.png')%>"
      window.profileIcon = "<%= image_url('profile-icon.png')%>"
      window.rescal = "<%= image_url('res-cal.png')%>"
      window.notFound = "<%= image_url('tableOpen404.jpg')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
